@font-face {
  font-family: 'YS';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Yandex Sans'), url('../fonts/YandexSansText-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'YS';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Yandex Sans'), url('../fonts/YandexSansText-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'YS';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Yandex Sans'), url('../fonts/YandexSansText-Bold.woff2') format('woff2');
}