@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../fonts/ALSSchlangesans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../fonts/ALSSchlangesans-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../fonts/ALSSchlangesans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../fonts/ALSSchlangesans-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ALS Schlange sans';
  src: url('../fonts/ALSSchlangesans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
